@model IEnumerable<Apps.Models.Act>

@{
    ViewData["Title"] = "Lista aktow";
}
<div class="bg-light p-4 shadow rounded" style="min-height: 100vh;">

    <div>
        <h1>Lista dostępnych aktów prawnych</h1>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        @if (User.HasClaim("Admin", "true"))
        {
            <p>
                <a asp-action="Create">Stwórz nowy</a>
            </p>
        }
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.HasClaim("Admin", "true"))
                    {
                        <th scope="col">Opcje</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Title)
                </th>
                <td class="row">
                    <span class="text-success col-sm" data-vote="+" data-id="@item.Id"> + </span>
                    @if (null != @item.ActVotes)
                    {
                        <div class="col-sm font-weight-bold">@item.ActVotes.Sum(i => i.Vote)</div>
                    }
                    else
                    {
                        <div class="col-sm font-weight-bold">0</div>
                    }
                    <span class="text-danger col-sm" data-vote="-" data-id="@item.Id"> - </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.HasClaim("Admin", "true"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $('[data-id]').click((e) => {
                var id = $(e.currentTarget).data('id');
                var vote = $(e.currentTarget).data('vote');
                $.ajax({
                    type: "GET",
                    url: "/api/ApiActs/" + vote + "." + id,
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            });
        });
    </script>
}